/* CSS FOR MAIN PAGE  */

.fontOswald {
	font-family: 'Oswald', sans-serif;
}

.featuredImg {
	width: 70vw;
}

.font-SansCond {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
}

.font-Kufam {
	font-family: 'Kufam', cursive;
}

.card:hover {
	cursor: pointer;
}

.article {
	min-height: 250px;
}
.progressBarWidth {
	width: 100%;
}
.initPageHeight {
	height: 95vh;
}

.photoMaxHeight {
	max-height: 305px;
}
.intContHeight {
	height: 80%;
}

.helloFont {
	font-size: 27vw;
}

.linkedText {
	text-decoration: none;
	color: black;
}

.linkedText:hover {
	text-decoration: none;
	color: black;
}

.floatRight {
	right: 0px;
}

.bigText {
	font-size: 6vw;
}

.smallText {
	font-size: 3vw;
}

@media (max-width: 750px) {
	.bigText {
		font-size: 7vw;
	}
	.smallText {
		font-size: 5vw;
	}
}

.hoverSkills:hover {
	color: orangered;
	cursor: pointer;
}

.cv-name {
	font-size: 4.7rem;
}

/* CSS FOR CONNECT 4 */

#board-3 td {
	width: 50px;
	height: 50px;
	border: solid 3px lightgrey;
	border-radius: 15px;
}

#board-3 {
	margin: auto;
	max-width: 380px;
}

.piece {
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	border: 2px solid black;
}

#column-top td {
	border: dashed 1px lightgray;
}

#column-top td:hover {
	background-color: gold;
}

#game {
	margin: auto;
	width: 600px;
	height: 600px;
}
/* *****************************************************************  */

/* CSS FOR MEMORY GAME */

.memCard {
	width: 220px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 10px 5px 5px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);

	background-size: contain;
}

#controlArea {
	position: relative;

	width: 14vw;
	height: 100%;
	margin: 10px;
	display: flex;
}

#controls {
	margin: auto;
	align-items: center;

	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}

#restart {
	font-size: 25px;

	font-family: 'Roboto', sans-serif;
}

#memGame:hover {
	cursor: pointer;
}

#inp {
	margin-right: 5px;
	margin-bottom: 5px;
}

/* *****************************************************************  */

/* CSS FOR PORTFOLIO  */

.size-title {
	font-size: 0.7em;
}

.portfolio-items a {
	color: black;
}

.portfolio-items:hover {
	cursor: pointer;
}

.img-min {
	max-width: 100%;
}

.text-img {
	position: absolute;
	text-align: center;
	margin: auto;
	width: 100%;
	height: 100%;
}

.text-img-min {
	font-size: 30px;
	top: 40%;
	position: relative;
	font-family: 'Secular One', sans-serif;
	opacity: 0;
}

.featured:hover img {
	opacity: 0.3;
}

.featured:hover span {
	z-index: 1;
	opacity: 1;
}

.min:hover img {
	opacity: 0.3;
}

.min:hover span {
	z-index: 1;
	opacity: 1;
}

/* *****************************************************************  */

/* CSS FOR INTRO */

.intro {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.slider {
	background-color: #f8f9fa;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateY(100%);
}

.intro-text {
	color: white;
	font-family: 'Heebo', sans-serif;
	font-size: 3rem;
}

.text {
	font-size: 5vw;
}

.author {
	float: right;
	font-size: 3vw;
}

.hide {
	background-color: black;
	overflow: hidden;
}

.hide span {
	display: inline-block;
	transform: translateY(102%);
}

.intro-jumbo {
	display: flex;
	align-items: center;
	height: 80vh;
	justify-content: center;
	align-items: center;
	position: relative;
}

.intro-images {
	width: 55%;
	height: 30vw;
	position: relative;

	min-width: 420px;
}

.intro-jumbo img {
	position: absolute;
	left: 20%;
	width: 30vw;
	bottom: 14%;
	min-width: 250px;
}

#intro-img4 {
	z-index: 1;
}

.intro-bar {
	background-color: lightgrey;
	position: absolute;
	width: 100%;
	bottom: 22%;
	font-size: 2.5vw;
	height: 1vw;
	z-index: 2;
}

.intro-bar span {
	position: relative;
	top: -15%;
}

.intro-name {
	font-family: 'Dosis', sans-serif;
	font-size: 7vw;
	position: absolute;
	bottom: -10%;
	width: 100%;
}

/* *****************************************************************  */

/* CSS FOR JEOPARDY */

.tdJeopardy {
	font-size: 0.9rem;
	text-align: center;
	width: 220px;
	height: 100px;

	border: 5px solid black;
	background-color: #060ce9;
	color: white;
	font-family: 'Copse', serif;
}

.tdHead {
	font-size: 0.9rem;
	text-align: center;
	width: 220px;

	border: 5px solid black;
	background-color: #060ce9;
	color: white;
	font-family: 'Copse', serif;
	height: 50px;
}

td:hover {
	cursor: pointer;
}
