body {
	width: 100vw;
	height: 100vh;
	background-color: rgba(206, 206, 72, 0.774);
	font-family: 'Nerko One', cursive;
	overflow-x: hidden;
}
#wrapper {
	width: 95%;
	height: 95%;
	margin: auto;
	position: relative;
}

#title {
	width: 80%;
	margin: auto;

	font-size: 5em;
}

#display {
	display: grid;
	width: 70%;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	margin: auto;
	margin-bottom: 1rem;
	padding: 1rem;
	
}

#content {
	margin: auto;
}

.text-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.img-wrap {
	position: relative;
}

.img-wrap img {
	min-height: 100%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
	border: 1px solid black;
	max-width: 100%;
}

#content img:hover {
	opacity: 0.3;
}

#content img:hover .text-img {
	z-index: 1;
}
.text-img span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
	color: black;
}

#footer {
	background-color: white;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 180px;
	left: 7%;
	border: 5px solid black;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	max-width: 50%;
	max-height: 55%;
	overflow-y: scroll;
}

.button:hover {
	text-decoration: underline;
	cursor: pointer;
}

#me {
	width: 150px;
	position: fixed;
	bottom: 0px;
	margin: 10px;
	z-index: 3;
}

img:hover {
	cursor: pointer;
}
#me:hover {
	transform: scale(1.1);
}

.hide {
	display: none;
}

.show {
	display: block;
}

p {
	padding: 10px;
	margin-bottom: 5px;
}

#footer a {
	color: black;
}

#modal {
	width: 60%;
	z-index: 10;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
}

#modal-text {
	width: 100%;

	border: 15px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(218, 218, 90);
	font-family: 'JetBrains Mono', monospace;
}

.about-me {
	font-family: 'JetBrains Mono', monospace;
	font-size: 1rem;
}

#close {
	padding: 20px;
	font-size: 3em;
	position: absolute;
	right: 0px;
	top: -30px;
	color: red;

	display: inline-block;
}

#close:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#portfolio-title {
	font-size: 3rem;
}

.fa-undo {
	float: right;
	margin: 5px;
}

.fa-undo:hover {
	cursor: pointer;
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
}



@-webkit-keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}



.intro {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 12;
	transform: translateY(-100%);
}

.black-slider {
	background-color: black;
	position: fixed;
	top: 0;
	width: 25%;
	height: 100vh;
	transform: translateY(-100%);
	z-index: 11;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.slide1 {
	left: 0
}
.slide2 {
	left: 25%
}
.slide3 {
	left: 50%
}
.slide4 {
	left: 75%
}

.slider {
	background-color: #f8f9fa;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateY(-100%);
	z-index: 11;
}

.intro-text {
	color: white;
	font-family: 'Heebo', sans-serif;
	font-size: 3rem;
}

.text {
	font-size: 2rem;
}

.text-author {
	font-size: 1.5rem;
	position: relative;
	left:40%;
	
}

.intro-hide {
	background-color: black;
	overflow: hidden;
	
}

.intro-hide span {
	display: inline-block;
	transform: translateY(120%);
}



#fancy:hover span {
	cursor: pointer;
	text-decoration: underline;
	
}
#fancy span {
	color: #007bff;
}


@media screen and (max-width: 800px) {
	#modal {
		width: 100%;
		top: 60%;
	}
}

@media screen and (max-width: 550px) {
	#display {
		width: 100%;
	}
	#wrapper {
		margin: 2px;
	}
	#footer {
		max-width: 100%;
		
	}
	.text {
		font-size: 1.2rem;
	}
}