body {
	width: 100vw;
	height: 100vh;
	background-color: rgba(206, 206, 72, 0.774);
	font-family: 'Nerko One', cursive;
	overflow-x: hidden;
}

#wrapper {
	width: 95%;
	height: 95%;
	margin: auto;
	position: relative;

}

#title {
	border: 20px solid black;
	display:inline-block;
	position: relative;
	margin: 1rem;
	padding: 1rem;
	left: 50%;
	transform: translateX(-50%);
	line-height:1;
	font-size: 5.8rem;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
}

#first {
	position: absolute;
	width: 60%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: inline-block;
}

#first::-webkit-scrollbar {
	display: none;
  }

#black-back {
	position: fixed;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 3;
	opacity: 0.7
}

#display {
	width: 80%;
	top: 30%;
	left: 10%;
	overflow-y: scroll;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	margin: auto;
	margin-bottom: 1rem;
	padding: 1rem;
	scrollbar-width: none;
	display: grid
}

#display::-webkit-scrollbar {
	display: none;
  }
  
#content::-webkit-scrollbar {
	display: none;
  }

#content {
	margin: auto;
	width:80%;
}

.text-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.img-wrap {
	position: relative;
	margin: 1rem;
}

.img-wrap img {
	min-height: 100%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
	border: 1px solid black;
	max-width: 100%;
}

#content img:hover {
	opacity: 0.3;
}

#content img:hover .text-img {
	z-index: 1;
}
.text-img span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
	color: black;
}

#footer {
	background-color: white;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
	position: fixed;
	TOP: 180px;
	right: 5%;
	border: 5px solid black;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	max-width: 50%;
	max-height: 55%;
	overflow-y: scroll;
	scrollbar-width: none;
	
}

#footer::-webkit-scrollbar {
	display: none;
  }


.button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.button {
	font-size: 1.5rem;
	line-height: 1;

}

#portfolio-title, #about-title {
	font-family: 'JetBrains Mono', monospace;
	font-size: 2rem;
	text-align: center;
	padding: 1rem;
	margin: 0.5rem;
}

#contact-menu {
	background-color: white;
	border: 10px solid black;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 0;
	left:0;	
	right: 0;	
	font-family: 'JetBrains Mono', monospace;

}

#wrap-menu {
	background-color: rgba(206, 206, 72, 0.774);
	
}


.me {
	width: 150px;
	position: fixed;
	top: 10px;
	right: 10px;
	margin: 10px;
	z-index: 3;
	transition: all 1s ease;
}

img:hover {
	cursor: pointer;
}

.hide {
	display: none;
}

.show {
	display: block;
}

p {
	padding: 10px;
	margin-bottom: 5px;
}

#footer a {
	color: black;
}

.contact {
	font-size: 1.8rem;
	margin: 0 
}

#end {
	height: 5vw;
}

.block {
	z-index: 4;
	margin: auto;
	background-color: rgb(218, 218, 90);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
	scrollbar-width: none;
	border: 15px solid black;
	font-size:1.2rem;
	font-family: 'JetBrains Mono', monospace;
}

#modal-toolkit {
	z-index: 4;
	margin: auto;
	width: 70%;
	
	scrollbar-width: none;
	font-size:1.2rem;
}

#modal::-webkit-scrollbar {
	display: none;
  }


#modal-text {
	width: 100%;
	font-family: 'JetBrains Mono', monospace;
}

.about-me {
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.2rem;
}





p img {
	width: 100px;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slit-in-horizontal {
	-webkit-animation: slit-in-horizontal 0.45s ease-out both;
	        animation: slit-in-horizontal 0.45s ease-out both;
}

 @-webkit-keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  
 @-webkit-keyframes slit-in-horizontal {
	0% {
	  -webkit-transform: translateZ(-800px) rotateX(90deg);
			  transform: translateZ(-800px) rotateX(90deg);
	  opacity: 0;
	}
	54% {
	  -webkit-transform: translateZ(-160px) rotateX(87deg);
			  transform: translateZ(-160px) rotateX(87deg);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateZ(0) rotateX(0);
			  transform: translateZ(0) rotateX(0);
	}
  }
  @keyframes slit-in-horizontal {
	0% {
	  -webkit-transform: translateZ(-800px) rotateX(90deg);
			  transform: translateZ(-800px) rotateX(90deg);
	  opacity: 0;
	}
	54% {
	  -webkit-transform: translateZ(-160px) rotateX(87deg);
			  transform: translateZ(-160px) rotateX(87deg);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateZ(0) rotateX(0);
			  transform: translateZ(0) rotateX(0);
	}
  }
  
.intro {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 12;
	transform: translateY(-100%);
}

.black-slider {
	background-color: black;
	position: fixed;
	top: 0;
	width: 25%;
	height: 100vh;
	transform: translateY(-100%);
	z-index: 11;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.slide1 {
	left: 0
}
.slide2 {
	left: 25%
}
.slide3 {
	left: 50%
}
.slide4 {
	left: 75%
}

.slider {
	background-color: #f8f9fa;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateY(-100%);
	z-index: 11;
}

.intro-text {
	color: white;
	font-family: 'Heebo', sans-serif;
	font-size: 3rem;
}

.text {
	font-size: 2rem;
}

.text-author {
	font-size: 1.5rem;
	position: relative;
	left:40%;
	
}

.intro-hide {
	background-color: black;
	overflow: hidden;
	
}

.intro-hide span {
	display: inline-block;
	transform: translateY(120%);
}

#fancy:hover span {
	cursor: pointer;
	text-decoration: underline;
	
}
#fancy span {
	color: #007bff;
}


@media screen and (max-width: 975px){
	.contact {
		font-size:1.3rem;
	}
}


@media screen and (max-width: 800px) {
	.contact {
		font-size:1rem;
	}
	#first {
		overflow-y: scroll;
		width: 80%;
		
	}
	#modal-toolkit {
		width: 100%;
	}
	.block {
		width: 100%;
		top: 35%;
		left: 0%;
		max-height: 70%;
		
		
		
	}
	p img {
		width: 70px;
	}
	.button {
		font-size: 2rem;
	}
	
}

@media screen and (max-width: 550px) {

	.contact {
		font-size:0.8rem;
	}
	#content {
		width: 95%;
	}
	
	#wrapper {
		margin: 2px;
	}
	#me {
		width: 50px;
	}
	#display {
		width: 95%;
	}
	#end {
		height: 15vw;
	}
	.about-me {
	
		font-size: 0.8rem;
	}
	#modal-text {

		font-size: 0.8rem;
	}
	
	
	.text {
		font-size: 1.2rem;
	}
	#title {
		font-size: 3.5rem;
	}
	
}