body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	overflow: hidden;
}

html {
	font-size: 1vw;
}

img {
	max-width: 100%;
}
/* ----------------------------MENU----------------------------------- */
#menuWrap {
	width: 80vw;
	height: 10vh;
	border-bottom: 2px solid black;
	position: relative;
	box-shadow: 0 8px 6px -6px black;
}

#menuButtons {
	display: inline-block;
	bottom: 5px;
	position: absolute;
	right: 1vw;
	font-family: 'Lexend Peta', sans-serif;
	font-size: 15px;
}

#menuButtons a {
	text-decoration: none;
	color: black;
}

#menuButtons a:hover {
	cursor: pointer;
	border-bottom: 2px solid black;
}

#logo {
	position: absolute;
	float: left;
	display: flex;
	font-family: 'Russo One', sans-serif;
	font-size: 1vw;
	margin: 10px;
}

/* ----------------------------MAIN----------------------------------- */

#slider {
	text-align: center;
	overflow: hidden;
	position: relative;
	text-align: center;
	display: flex;

	width: 80vw;
	height: 80vh;
}

#slides {
	width: 70vw;
	height: 68vh;

	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;

	-webkit-overflow-scrolling: touch;
	margin: auto;
	scrollbar-width: none;
	text-align: center;
}

#slides::-webkit-scrollbar {
	display: none;
}

.slideWrap {
	width: 65vw;
	height: 65vh;
	position: relative;
	align-items: center;
	display: flex;
	margin-bottom: 4vh;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
}

/* ----------------------------SLIDES ( SLIDE 1 )----------------------------------- */

.var-highlight {
	color: #c0ad60;
}
.string-highlight {
	color: rgba(253, 149, 90, 0.8);
}

#typewriter {
	font-size: 2.5vw;
	margin: auto;
	font-family: "Courier New";
	width: 52vw;

	text-align: left;
}

/* ----------------------------SLIDES ( SLIDE 2 )----------------------------------- */

#slide2 img {
	width: 100vw;
	position: absolute;
	bottom: 0px;
}

#slide2Text {
	position: absolute;
	top: 4vw;
	font-size: 2.2vw;
	font-family: 'Montserrat', sans-serif;
}

/* ----------------------------SLIDES ( SLIDE 3 )----------------------------------- */

.skill {
	font-size: 2.5vw;
	list-style: none;
	text-align: right;
	position: absolute;
	left: 0px;
	top: 10vh;
}

#skillSet {
	display: flex;
	align-items: center;

	position: relative;
	width: 90vw;
	height: 60vh;
}

li {
	position: relative;
	font-family: 'Lexend Peta', sans-serif;
	display: block;
}

.blockBegin {
	width: 11vw;
	height: 5vh;
	background-color: orangered;
	position: absolute;
	bottom: 0px;
}

.blockInter {
	width: 28vw;
	height: 5vh;
	background-color: orangered;
	position: absolute;
	bottom: 0px;
}

.blockAdv {
	width: 40vw;
	height: 5vh;
	background-color: orangered;
	position: absolute;
	bottom: 0px;
}

#levelSkill {
	font-family: 'Lexend Peta', sans-serif;
	font-size: 1.5vw;
	position: absolute;
	top: 8vh;
	right: 0px;
}

/* ----------------------------SLIDES ( SLIDE 4 )----------------------------------- */
#projectLeft {
	width: 50vw;
	height: 65vh;
}

#projectLeft li {
	font-family: 'Bad Script', cursive;
	font-size: 2vw;
}

#projectLeft li:hover {
	cursor: pointer;
	border-bottom: 2px solid black;
}

#projectRight {
	width: 50vw;
	height: 65vh;
}

#memGame:hover {
	cursor: pointer;
}

#memeGen:hover {
	cursor: pointer;
}

.displayContent {
	float: left;
	width: 65vw;
	height: 65vh;
	background-color: #ddc;
	border: solid 5vmin #eee;
	border-bottom-color: #fff;
	border-left-color: #eee;
	border-radius: 2px;
	border-right-color: #eee;
	border-top-color: #ddd;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	top: 10px;
	left: 10px;
}

.memCard {
	width: 9.5vw;
	height: 25vh;
	border: 2px solid black;
	display: inline-block;
	margin: 10px 5px 5px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

#restart {
	font-size: 0.8vw;
	right: 3px;
	top: 50px;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}

#record {
	font-size: 1vw;
	right: 5px;
	top: 10vh;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}

#recordN {
	font-size: 1vw;
	right: 35px;
	top: 13vh;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}

#current {
	font-size: 1vw;
	right: 5px;
	top: 18vh;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}

#currentN {
	font-size: 1vw;
	right: 35px;
	top: 21vh;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}

#closeX {
	position: absolute;
	right: 30px;
	cursor: pointer;
	top: 10px;
	font-size: 1.5vw;
	font-family: 'Roboto', sans-serif;
}

#memeFormWrap {
	width: 10vw;
	text-align: right;
	display: flex;
	float: left;
	position: relative;
	top: 20px;
}

#memeForm {
	width: 30vw;
	left: 0px;
	padding: 0px;
}

#wrapMeme {
	width: 40vw;
	height: 50vh;
	position: relative;
	top: 1vh;
	display: inline-block;
	overflow-y: scroll;
}

#wrapMeme::-webkit-scrollbar-track {
	background: black;
}

#wrapMeme img {
	width: 40vw;
	height: 42.5vh;
}

.WrapperMeme {
	width: 35vw;
	height: 42.5vh;
	border: solid 2px black;
	position: relative;
	display: flex;
	align-items: center;
	margin: 10px auto 10px;

	overflow-wrap: break-word;
}

.Top {
	top: 0px;
	width: 35vw;
	position: absolute;
	text-align: center;

	color: white;
	text-shadow: 2px 2px #000000;
}

.Bot {
	width: 35vw;
	bottom: 0px;
	text-align: center;
	position: absolute;

	color: white;
	text-shadow: 2px 2px #000000;
}

.close {
	position: absolute;
	padding: 4px;
	right: 0px;
	top: 0px;
	font-size: 1vw;
	font-family: 'Roboto', sans-serif;
}

.close:hover {
	font-size: 25px;
	cursor: pointer;
}

/* ----------------------------SLIDES ( SLIDE 5 )----------------------------------- */

#selfie {
	width: 10vw;
	box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.8);
}

#slide5 {
	align-items: start;
}

#aboutText {
	width: 25vw;
	height: 10vh;
	text-align: left;
	font-family: 'Nunito', sans-serif;
	margin: 2vw;
	font-size: 0.9vw;
}

#aboutText p {
	text-align: center;
}

/* ----------------------------FOOTER----------------------------------- */
#footerWrap {
	width: 80vw;
	height: 10vh;

	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px;
}

#footerLine {
	width: 80vw;
	border-bottom: 5px solid grey;
	position: absolute;
}

.stepFoot {
	width: 20vw;
	height: 9.5vh;
	/* border: 2px solid blue; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

#topFoot {
	width: 20vw;
	height: 4vh;

	position: absolute;
	top: 5px;
	font-family: 'Roboto', sans-serif;
	color: rgb(117, 117, 117);
	font-size: 1.5vw;
	text-align: center;
}

#botFoot {
	width: 20vw;
	height: 4vh;

	position: absolute;
	bottom: 0px;
	font-family: 'Roboto', sans-serif;
	color: rgb(168, 168, 168);
	font-size: 1vw;
	text-align: center;
}

.anchorFoot {
	height: 1.2vw;
	width: 1.2vw;
	background-color: lightgrey;
	border-radius: 50%;
	z-index: 1;
}

#footerWrap a div:hover {
	background-color: darkgrey;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}

/* ----------------------------SIDE----------------------------------- */
#sideWrap {
	width: 19vw;
	height: 100vh;
	position: absolute;

	top: 0px;
	right: 0px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
	display: flex;
}

#sideContent {
	width: 16vw;
	height: 20vh;

	margin: auto;
	text-align: center;
	font-family: 'Lexend Peta', sans-serif;
}

#sideWrap a {
	text-decoration: none;
	color: black;
}
#sideWrap a:hover {
	cursor: pointer;
	border-bottom: 2px solid black;
}

.sideText {
	font-size: 0.8vw;
}
