.intro-jumbo {
	display: flex;
	align-items: center;
	height: 80vh;
	justify-content: center;
	align-items: center;
	position: relative;
}

.intro-images {
	width: 55%;
	height: 30vw;
	position: relative;

	min-width: 420px;
}

.intro-jumbo img {
	position: absolute;
	left: 20%;
	width: 30vw;
	bottom: 14%;
	min-width: 250px;
}

#intro-img4 {
	z-index: 1;
}

.intro-bar {
	background-color: lightgrey;
	position: absolute;
	width: 100%;
	bottom: 22%;
	font-size: 2.5vw;
	height: 1vw;
	z-index: 2;
}

.intro-bar span {
	position: relative;
	top: -15%;
}

.intro-name {
	font-family: 'Dosis', sans-serif;
	font-size: 7vw;
	position: absolute;
	bottom: -5%;
	width: 100%;
}
