body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #f3fbfb;
	font-family: 'JetBrains Mono', monospace;
	min-width: 1400px;
	overflow-x:scroll;
}

#bg-blue {
	background-color: #041b61;
	width: 55%;
	height: 150%;
	position: absolute;
	transform: rotate(15deg) translate(-20%, -10%);
	z-index: -1;
	min-width: 800px
}

#container {
	align-items: stretch;
	width: 38%;
	height: 80%;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	transform: translate(10%, -50%);
	background-color: #0d0e0d;
	border: 5px solid white;
	border-radius: 20px;
	display: flex;
	min-width: 500px
}

#visualizer {
	width: 35%;
	height: 80%;
	border: 5px solid #041b61;
	position: absolute;
	top: 50%;
	right: 0%;
	overflow: hidden;
	transform: translate(-20%, -50%);
	border-radius: 20px;
	display: flex;
	min-width: 500px
}

@media screen and (max-width: 1500px) {
	#visualizer  {
		right:auto;
		left:850px;
	}
	#cont-title {
		left: 970px;
	}
	#bg-blue {
		transform: rotate(15deg) translate(-30%, -10%);
	}
}


#box {
	width: 30%;
	height: 30%;
	background-color: #327ccd;
	border-radius: 20px;
	text-align: center;
	font-size: 2rem;
	z-index: 2;
}

#controller {
	display: inline-block;
	width: 95%;
	padding: 0.5rem;
	margin: 0 auto;
	justify-content: space-between;
}

#css-options {
	width: 98%;
	height: 50%;
}

#box-css,
#container-css,
#css-options {
	border: 3px solid white;
	margin: 5px;
	border-radius: 15px;
	padding: 1rem;
}

#box-css,
#container-css {
	max-height: 48%;
	
	width: 47%;
	height: 50%;
}

.scroll::-webkit-scrollbar {
	display: none;
}

ul {
	list-style: none;
	padding-inline-start: 0px;
	display: inline-block;
	list-style-type: none;
	max-height: 35%;
	overflow-y: scroll;
}

li {
	display: inline-block;
}

.css-item {
	background-color: white;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 10px;
	display: inline-block;
}

.css-item:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.sub-title {
	color: white;
	text-align: center;
	margin-bottom: 5px;
	display: block;
}

#cont-title {
	right: 16%;
	top: 5%;
	transform: translateX(-50%);
	position: absolute;
	font-size: 2rem;
}

select {
	border-radius: 15px;
}

#box-list,
#container-list {
	border: 1px solid white;
	min-height: 50px;
}

#error-info {
	width: 100%;
	border: 3px solid white;
	min-height: 2rem;
	border-radius: 10px;
	color: white;
	font-size: 0.8rem;
	padding: 0.25rem;
}