#wrap {
	height: 100vh;
	width: 100vw;
	background-image: url(back.jpg);

	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'Montserrat', sans-serif;
	COLOR: WHITE;
}

#content {
	height: 60vh;
	width: 100vw;
}

#footer {
	width: 100vw;
	height: 20vh;

	position: fixed;
	bottom: 0px;
	left: 0px;
	display: grid;
	place-items: center;
}

img {
	width: 200px;
}

#portfolioID {
	font-size: 2em;
}

.toolkit {
	display: grid;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(8, 1fr);

	grid-gap: 10px;
}

#toolName {
	font-size: 3em;
}

nav img {
	width: 100px;
}

.areaText {
	display: inline-block;
	font-size: 3em;
}

.area {
	height: 100%;
	display: grid;
	place-items: center;
}

sup {
	margin: 0 20%;
}

#code {
	font-family: 'Syne Mono', monospace;
	color: greenyellow;
}

#writer {
	font-family: 'Patrick Hand', cursive;
}

#minimalist {
	font-family: 'Gudea', sans-serif;
	color: beige;
}

@media (max-width: 750px) {
	nav img {
		width: 50px;
	}
	.areaText {
		display: inline-block;
		font-size: 2em;
	}
}
