#wrap {
	height: 100vh;
	width: 100vw;
	background-image: url(back.jpg);

	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'Montserrat', sans-serif;
	COLOR: WHITE;
}

#content {
	height: 60vh;
	width: 100vw;
}

#footer {
	width: 100vw;
	height: 20vh;

	position: fixed;
	bottom: 0px;
	left: 0px;
	display: grid;
	place-items: center;
}

img {
	width: 200px;
}

#portfolioID {
	font-size: 2em;
}

.toolkit {
	display: grid;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(8, 1fr);

	grid-gap: 10px;
}

#toolName {
	font-size: 3em;
}

nav img {
	width: 100px;
}

.areaText {
	display: inline-block;
	font-size: 3em;
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 8;
}

.area {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
}

sup {
	margin: 0 20%;
}

#code {
	font-family: 'Syne Mono', monospace;
	color: greenyellow;
}

#writer {
	font-family: 'Patrick Hand', cursive;
}

#minimalist {
	font-family: 'Gudea', sans-serif;
	color: beige;
}

.carousel-item img:hover {
	cursor: pointer;
}

#Jeopardy {
	border: 2px solid rgb(226, 223, 223);
	box-shadow: 3px 10px 19px 0px rgba(0, 0, 0, 0.75);
	background-color: #33383d;
	position: relative;

	grid-column-start: 2;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 11;
	z-index: 1;
}

/* CSS FOR JEOPARDY */

.tdJeopardy {
	font-size: 0.9rem;
	text-align: center;
	width: 220px;
	height: 100px;

	border: 5px solid black;
	background-color: #060ce9;
	color: white;
	font-family: 'Copse', serif;
}

.tdHead {
	font-size: 0.9rem;
	text-align: center;
	width: 220px;

	border: 5px solid black;
	background-color: #060ce9;
	color: white;
	font-family: 'Copse', serif;
	height: 50px;
}

td:hover {
	cursor: pointer;
}

.jeopardy div {
	display: inline-block;
	margin-right: 50px;
	color: white;
}

.jeopardy {
	height: 90%;
	overflow-y: scroll;
}
#topBar {
	background-color: rgb(245, 241, 241);
	border-bottom: 1px solid rgb(245, 241, 241);
	position: absolute;
	top: 0px;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	z-index: 2;
}

#topBar span {
	padding-left: 5px;
	color: black;
}

#close {
	float: right;
	padding-right: 10px;
	padding-left: 10px;
}

#close:hover {
	cursor: pointer;
	font-weight: bolder;
}

@media (max-width: 750px) {
	nav img {
		width: 50px;
	}
	.areaText {
		display: inline-block;
		font-size: 2em;
	}
}
